{% for items in prometheus_monitor_info['alerts'] %}
{% if loop.first %}
{{ prometheus_monitor_info['commonLabels']['alertname'] }}
{% endif %}
{% if items['status'] == 'firing' %}
告警：
{% else %}
恢复：
{% endif %}
{{
items['labels']['severity'] }}
{{
items['labels']['instance'] }}
{{
items['annotations']['summary'] }}
{{ items['annotations']['description'] }}
{{ items['startsAt'] }}
{% if items['endsAt'] == '0001-01-01T00:00:00Z' %}
00:00:00:00
{% else %}
{{ items['endsAt']}}
{% endif %}
{% end-for %}